name: CI Build

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Maven Wrapper
        run: chmod +x mvnw  # Set execute permissions on mvnw
        working-directory: ./initial  # Specify the working directory

      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          distribution: 'adopt'
          java-version: '11'

      - name: Build with Maven
        run: ./mvnw clean install  # Run mvnw from the initial folder
        working-directory: ./initial  # Specify the working directory
